* {
    margin: 0;
    padding: 0;
}
#name {
    margin-left: -90px;
     left: 93%;
     margin-top: 3px;
 }
/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
    .social-link i img {
        width: 20px;
    }
    #name {
       margin-left: -70px;
        margin-top: 3px;
    }
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
    .icons i img {
        width: 20px;
        text-align: center;
    }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
    .content h1 {
        font-size: 30px;
    }
    #btn3 button {
        width: 70px;
    }
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 280px) {  
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px) {
    .cuerta-rt {
        width: 50px;
        margin-left: 200px;
    }
}
/* main content */
.main-content {
    width: 100%;
    height: 90vh;
    background-image: url(/Img/20160406163621-anhminhhoa-2.jpg);
    background-size: cover;
    background-position: 70%;
}
.content {
    margin-top: 150px;
    margin-left: 60px;
}
#tpc {
    box-shadow: 0 0 5px black;
    transition: 0.5s ease;
    cursor: pointer;
}
#tpc:hover {
    transform: translateY(-10px);
}
/* footer */
#footer {
    width: 100%;
    background-color: black;
    margin-top: 100px;
}

#footer h1 {
    color: white;
    padding-top: 30px;
}

#footer p {
    color: white;
}
.icons i {
    color: rgba(238, 224, 208);
    font-size: 30px;
    cursor: pointer;
}
.copyright {
    color: white;
    margin-top: 20px;
}
.credite {
    color: white;
}
#cd-ghestr {
    height: 30vh;

}
#navbarNavDropdown {
    margin-left: 5px;
}
#cutsten {
    background-color: rgb(247, 247, 247);
}

#cd-contens {
    height: 30vh;
}
.dsadasd li {
    top: 80px;
    left: 1014px;
}
  /* Css login /

  