/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap'); */

*{
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    background: #ececec;
    padding: 0 20px 0 20px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.row{
    width: 700px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
    padding: 30px;
}
.side-image{
    background-image: url("https://images.pexels.com/photos/3201694/pexels-photo-3201694.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
    height: 350px;
    
}
 
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text {
    color: #faf3f3;
    font-size: 18px;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.input-box{
    width: 630px;
    box-sizing: border-box;
}
.input-box header{
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}
.input-field{
    
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
    text-decoration: none

}
.input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}
.input-box .input-field label{
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
     
}
.input-field .input:focus ~ label{
    top: -10px;
    font-size: 13px;
}
.input-field .input:valid ~ label{
    top: -10px;
    font-size: 13px;
    color: #5d5076;
}
.input-field .input:focus, .input-field .input:valid{
    border-bottom: 1px solid #743ae1;
}
span a{
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .5s;
}
span a:hover{
    text-decoration: underline;
    color: #000;
}
 /* @media (min-width: 280px) and (max-width: 768px){
    .side-image{
        border-radius: 10px 10px 0 0;
    }
    img{
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }
    .text{
        position: absolute;
        top: 70%;
        text-align: center;
    }
    .text p,i{
        font-size: 17px;
    }
    .row{
        max-width: 420px;
        width: 150%;
    }
    .row-crt{
        max-width: 420px;
        width: 150%;
    }
} */

/* password */
.lable-center{
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    
}
.submit{
    border: none;
    outline: none;
    height: 45px;
    background: #ececec;
    border-radius: 5px;
    transition: .4s;
}
.submit:hover{
    background: rgb(125, 240, 137);
    color: #fff;
}

/* personnel */

.nav-item .nav-link{
    position: relative;
    font-size: 1em;
    color: antiquewhite;
    text-decoration: none;
    font-weight: 500;
    margin-left: 0px;
}
.nav-item .nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #2581b6;
    border-radius: 5px;
    transform-origin:right ;
    transform: scaleX(0);
    transition: transform .5s;  
}
.nav-item .nav-link:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.utils__content {
            padding: 15px 20px;
            overflow-x: hidden;
            width: 100%;
}
    
.utils__content {
        height: 100%!important;
        display: flex;
        flex-direction: column;
}
   /* search */
.form-control, .btn-outline-success{
    margin-top: 60px;
}

.btn-group{
    margin-left: 80%;
}
/* @media (min-width: 280px) and (max-width: 768px) {
    .btn-group{
        margin-left: 20%;
    } 
  } */
.btn-export, .btn-import {
   margin-left: 10px;
    border: none;
    height: 45px;
    width: 120px;
    text-align: center;
    background: rgb(245, 247, 244);
    border-radius: 20px; 
}
.btn-import:hover, .btn-export:hover{
        background: rgba(103, 247, 151, 0.9);
    }
.nav-link{
    margin-left: 30px;
}
.lable{
   
    margin: 20px;
}
ion-icon {
    font-size:30px;
    margin-left: -10;
  }

.dropdown{
    margin-left: 80%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  /* create */


.custom_select{
    position: relative;
    width: 100%;
    height: 37px;
  }
  .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
  }
  
   .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
  }
  

  /* detail */
  .employee-detail__wrapper-item {
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f7ff;
    font-size: 14px;
    line-height: 17px;
    padding: 8px 30px;
    border-radius: 4px;
    margin-bottom: 40px;
    
}
.employee-detail__wrapper-item .employee-detail__item {
    width: 25%;
    padding: 10px 10px 10px 0;
}
.avt-left{
    border-radius: 20px;
max-width:150px;
 height:150px;
}
  
.text-basic{
    margin: -130px 150px 90px;
    font-size: 18px;
    padding: 0px 30px;
}
.row-detail{
    width: 100%;   
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
    padding: 10px;
}

@media (max-width: 768px){
    .side-image{
        border-radius: 10px 10px 0 0;
    }
    .logo{
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }
    .text{
        position: absolute;
        top: 70%;
        text-align: center;
    }
    .text p,i{
        font-size: 17px;
    }
    .row{
        max-width: 420px;
        width: 150%;
    }
    .row-crt{
        max-width: 420px;
        width: 150%;
    }
    .btn-group{
        margin-left: 20%;
    } 
    .avt-left{
        width:70px;
        height:70px;
        border-radius: 8px;
    } 
    .text-basic{ 
        margin: -70px 60px 30px; 
        font-size: 15px;
    } 
}

